<%- include('layout/header') %>    <!-- Added this style.css which has the style for bootstrap 4
select because Bootstrap 5 select has a bug -->
</head>

<body class="">

    <!--Main layout-->
    <main style="margin-top: 50px; padding-left: 0" >
        
        <div class="container pt-2 ">
            <!--Section: Statistics with subtitles-->
            <section style="display: grid; justify-items: center;padding: 0.8rem;width: 50%;margin: 0 auto; border-radius: 10px;" class="bg-light">
                <h1 class="mb-4" style="text-align: center;">Party Position</h1>
                <h3 class="fs-6 fw-normal text-secondary m-0 mb-3">My Position</h3>

                <form method="post" action="" style="width: 29vw;" >
                    <div class="col-12">
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" name="Position" id="position" placeholder="Positon" required>
                          <label for="userName" class="form-label">Position </label>
                        </div>
                      </div>

                    <!-- Submit button -->
                    <div class="mb-3">
                       

                        <button style="width: 100%; margin-top: 10px;" id="login-btn" class="btn btn-primary btn-block btn-lg mb-4">Register Party</button>
                    </div>

                </form>
             
            </section>
        </div>
    </main>

</body>

</html>